<div id="person_nums">
  <%= form_with url: root_path do |f| %>
    <%= f.number_field :peaple, name: "peaple", placeholder: "何人いますか？" %>
    <%= f.submit '送信' %>
  <% end %>
</div>
<div id="order_form"></div>